<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="style/info.css">
    <title>CRUD MongoDB</title>
    <style>
        .container{
            max-width: 960px;
        }
    </style>
  </head>
  <body>
   <h4>Bienvenido:  <%= persona.nombre%>  <%= persona.apellido%></h4>
    <div class="container">
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
            <h4>Datos del Dispositivo</h4>
            <form action="/crear" method="post">
                <div class="form-group">
                    <label for="modelo">Modelo</label>
                    <input type="text" name="modelo"   id="modelo" class="form-control">
                </div>
                <div class="form-group">
                    <label for="marca">Marca</label>
                    <input type="text" name="marca" id="marca" class="form-control">
                </div>    
                <div class="form-group">
                    <label for="color">Color</label>
                    <input type="text" name="color" id="color" class="form-control">
                </div>
                <div class="form-group">
                    <label for="almacenamiento">Almacenamiento</label>
                    <input type="text" name="almacenamiento"  id="almacenamiento" class="form-control">
                </div>
                <div class="form-group">
                    <label for="ram">RAM</label>
                    <input type="text" name="ram" id="ram" class="form-control">
                </div>
                <div class="form-group">
                    <p>
                        Estado:            
                        <select name="estado" id="estado" class="form-control">            
                          <option>Activo</option>            
                          <option>Inactivo</option>            
                        </select>            
                      </p>
                </div>
                <div class="form-group">
                    <label for="observacion">Observacion</label>
                    <input type="text" name="observacion" id="observacion" class="form-control">
                </div>
                <button type="submit" class="w-100 btn btn-guardar btn-lg"><i class="bi bi-save"></i>Registrar Carga</button>
            </form>               
            <!-- Tabla Dispositivos  -->
            <table id="tablaAlumnos" class="table mt-4">
                <thead>
                    <tr>
                        <th>Modelo</th>
                        <th>Marca</th>
                        <th>Almacenamiento</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <% dispositivo.forEach( (disp) => { %>
                        <tr>
                            <td><%= disp.modelo %></td>
                            <td><%= disp.marca %></td>
                            <td><%= disp.almacenamiento %></td>
                            <td><%= disp.estado %></td>
                            <td>
                               <!--  <a type="button" class="btnEditar btn btn-outline-primary bi bi-pencil"></a> -->
                                <a href="/borrar/<%= disp._id %>" class="btn btn-outline-danger bi bi-text-left"></a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="js/code.js"></script>
    
  </body>
</html>